---
layout: default
title: Frontpage
---

{% include header.html %}

<div class="l-container main">

  {% include subscribe-top.html %}

  <div class="front-deal">
    <div class="image-container">
      <a href="/deals/show.html"><img alt="" src="../img/deal-image-featured.jpg"></a>
      <div class="price"><p><strong>Tilbud</strong> 249 kr</p></div>
    </div>

    <div class="description">
      <p class="title">50% off on juicers</p>
      <p class="company">The Juice Co.</p>
      <p class="text">Nisit ut aliquid ex ea commodi consequatur? Quis autem vel eum jure!</p>
    </div>

    <div class="info">
      <div class="price">249 kr</div>
      <div class="old-price">veil 495kr</div>
      <div class="buy"><a href="/deals/show.html" class="btn-buy">Buy now</a></div>
    </div>
  </div>

  <div class="front-deal mobile-only">
    <div class="image-container">
      <a href="/deals/show.html"><img alt="" src="../img/deal-image-featured.jpg"></a>
      <div class="price"><p><strong>Tilbud</strong> 249 kr</p></div>
    </div>

    <div class="description">
      <p class="title">50% off on juicers</p>
      <p class="company">The Juice Co.</p>
      <p class="text">Nisit ut aliquid ex ea commodi consequatur? Quis autem vel eum jure!</p>
    </div>

    <div class="info">
      <div class="price">249 kr</div>
      <div class="old-price">veil 495kr</div>
      <div class="buy"><a href="/deals/show.html" class="btn-buy">Buy now</a></div>
    </div>
  </div>

  <div class="about-site-info">
    <div class="text">
      <p>Learn more?</p>
      <p>Want to learn more about Gode Tilbud?</p>
    </div>
    <div class="btn"><a href="#" class="btn-learn-more">Learn more</a></div>
    <span class="close-block close-bottom"><i></i></span>
  </div>

  <div class="frontpage-latest-deals">
    <h2 class="title">Latest Deals</h2>

    {% include _frontpage_deals.html %}
    <div class="btn-view-all-deals"><a href="/deals/">View all<i class="icon-ui-arrow"></i></a></div>
  </div>

  <div class="frontpage-featured-deals">
    <h2 class="title">Featured Deals</h2>

    {% include _frontpage_deals.html %}
    <div class="btn-view-all-deals"><a href="/deals/">View all<i class="icon-ui-arrow"></i></a></a></div>
  </div>
</div>

{% include footer.html %}
