// Include Html 5 Boilerplate strucure
@import 'html5_boilerplate';

// Import Google Web Fonts
// TODO: consider asking AP to review the design and use less font variants.
@import url('http://fonts.googleapis.com/css?family=Cardo:400,700');

// Main content:
// Open Sans regular + light
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic');
// Open Sans bold + semibold
@import url('http://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,700italic');

// Headings:
// Cardo serif
@import url('http://fonts.googleapis.com/css?family=Cardo:400,700');


// Border box sizing
* {
  @include box-sizing('border-box');
}

html {
  background-color: $color-webpage-bg;
}

body {
  font-family: $font-family-sans;
  font-weight: 400;
}

// Forms (from normalize.css)
input {
  -webkit-appearance: none;
  @include border-radius(0);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type='search'] {
  -webkit-appearance: textfield;
}
