body {
  margin: 0;
}

%l-container {
  @include clearfix;

  min-width: 300px;
  max-width: 1260px;
  margin-left: 10px;
  margin-right: 10px;

  @include breakpoint($breakpoint-desktop-wide) {
    margin-left: auto;
    margin-right: auto;
  }
}

.l-container {
  @extend %l-container;
}

.l-block {
  margin-bottom: 15px;
}

.main {
  padding-bottom: 15px;
}
