---
layout: default
Title: Deals Listing
---

{% include header.html %}

<div class="l-container">

  <div class="deals-menu">
    <div class="sub-menu">
      <nav class="deal-types">
        <ul>
          <li>All Deals</li>
          <li>Activities</li>
          <li>Food and drink</li>
          <li>Special deals</li>
        </ul>
      </nav>
    </div>

    <div class="search-sort-list">
      <span>Sort by: </span>
      <select name="sort-list">
        <option value="newest" selected>Newest First</option>
        <option value="oldest">Oldest First</option>
      </select>
    </div>
  </div>

  <div class="deals-listing">
    {% include _frontpage_deals.html %}

    {% include _frontpage_deals.html %}
  </div>
</div>

{% include footer.html %}
