{% for i in (1..8) %}

  <div class="deal-entry">
    <div class="image-container">
      <img alt="" src="../img/deal-image-medium.jpg" />
      <div class="price"><p><strong>Tilbud</strong> 249kr</p></div>
      <div class="description">
        <p class="title">50% off on juicers</p>
        <p class="company">The juice Co.</p>
      </div>
    </div>
    <div class="info">
      <div class="price">249 kr</div>
      <div class="old-price">veil 495kr</div>
      <div class="buy"><a href="../deals/show.html" class="btn-buy">Buy now</a></div>
    </div>
  </div>

{% endfor %}
