<div class="category-nav clearfix">
  <div class="category-nav-tags">
    <nav class="nav nav-category">
      <ul class="btn-row list-horizontal">
        <li><a class="btn btn-category" href="#0">All deals</a></li>
        <li><a class="btn btn-category" href="#0">Activities</a></li>
        <li><a class="btn btn-category active" href="#0">Food & beverages</a></li>
        <li><a class="btn btn-category" href="#0">Special Deals</a></li>
      </ul>
    </nav>
  </div>
  <div class="category-nav-filter">
    <a href="#0" class="btn filter-select">Special Deals <i class="icon-ui-dropdown"></i></a>
  </div>
</div>