<footer class="footer">
  <div class="footer-block deals-categories">
    <h3 class="title">Deal categories</h3>

    <ul class="deals-menu-list">
      <li><a href="/deals/">Latest Deals</a></li>
      <li><a href="/deals/">Travel & Leisure</a></li>
      <li><a href="/deals/">Food & Beverages</a></li>
    </ul>
  </div>

  <div class="footer-block advertise">
    <h3 class="title">Annonser hos oss</h3>
    <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
  </div>

  <div class="footer-block other-deals">
    <h3 class="title">Se gode tilbud i andre byer</h3>
    <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
  </div>

  <div class="footer-block subscribe-footer">
    {% include subscribe-bottom.html %}
  </div>

  <div class="footer-block logo-footer">
    <img alt="" src="../img/logo-footer.png">
    <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
  </div>

  <div class="footer-block social">
    <h3 class="title">Følg oss på nettet</h3>
    <ul class="social-footer-links">
      <li><a href="#"><i class="icon-footer-twitter"></i>Twitter</a></li>
      <li><a href="#"><i class="icon-footer-facebook"></i>Facebook</a></li>
    </ul>
  </div>
</footer>



