<footer class="footer">
  <div class="footer-container">

    <div class="footer-block deals-categories">
      <h3 class="title">Deal categories</h3>

      <ul class="deals-menu-list">
        <li><a href="#">Latest Deals</a></li>
        <li><a href="#">Travel & Leisure</a></li>
        <li><a href="#">Food & Beverages</a></li>
      </ul>
    </div>

    <div class="footer-block advertise">
      <h3 class="title">Annonsor hos oss</h3>
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </div>

    <div class="footer-block other-deals">
      <h3 class="title">Se gode tilbud i andre byer</h3>
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </div>
<!--
    <div class="logo">
      <img alt="" src="../img/logo_small.jpg">
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </div>
-->
    {% include subscribe-bottom.html %}

    <div class="footer-block social">
      <h3 class="title">Folg oss på nettet</h3>
      <ul class="social-footer-links">
        <li><a href="#"><i class="icon-footer-twitter"></i>Twitter</a></li>
        <li><a href="#"><i class="icon-footer-facebook"></i>Facebook</a></li>
      </ul>
    </div>

  </div>
</footer>



