<footer class="footer">

  <div class="l-left-footer">
    <section class="deal-categories">
      <h3 class="title">Deal Categories</h3>
      <ul class="deal-categories">
        <li><a class="deal-entry" href="#">Latest</a></li>
        <li><a class="deal-entry" href="#">Travel</a></li>
        <li><a class="deal-entry" href="#">Home</a></li>
        <li><a class="deal-entry" href="#">Food and drinks</a></li>
      </ul>
    </section>

    <section class="advertise">
      <h3>Annonsor hos oss</h3>
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </section>

    <section class="other-deals">
      <h3>Se gode tilbud i andre byer</h3>
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </section>

    <section class="logo">
      <img alt="" src="" />
      <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
    </section>
  </div>

  <div class="l-right-footer">
    <section class="subscribe">
      <h2>Motta gode tilbud pa epost?</h2>
      <form action="" method="post">
        <input type="email" name="email" id="subscribe" placeholder="Type your email" />
        <input type="submit" value="Send" />
      </form>
    </section>

    <section class="social">
      <h3>Folg oss pa nettet</h3>
      <a href="#"><img alt="Twitter" src="" /> Twitter</a>
      <a href="#"><img alt="Facebook" src="" /> Facebook</a>
    </section>

  </div>

</footer>



