<header class="header" role="banner">
  <h1 class="logo">LOGO</h1>

  <nav class="nav--main">
    <h2 class="nav--title">Menu <i class="icon-ui-dropdown"></i></h2>

    <ul class="menu--main menu--dropdown">
      <li><a href="#">Deals</a>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="icon-ui-location"></i>Companies</a></li>
      <li><a href="#"><i class="icon-ui-add"></i>Add a Deal</a></li>
      <li><a href="#"><i class="icon-ui-info"></i>About</a></li>
    </ul>
  </nav>

  <nav class="nav--secondary">
    <h3 class="nav--title">[current] type <i class="icon-ui-settings"></i></h2>

    <ul class="menu--secondary menu--dropdown">
      <li><a href="#">All deals</a></li>
      <li><a href="#">Travel &amp; Leisure</a></li>
      <li><a href="#">Home &amp; Garden</a></li>
      <li><a href="#">Food &amp; Beverages</a></li>
    </ul>
  </nav>
</header>
