.btn-category {
  background-color: $color-btn-primary;
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  position: relative;
  text-align: center;

  @include single-transition(background-color, 0.3s);

  &:hover,
  &:focus,
  &.active {
    background-color: white;
    color: $color-category-hover;
  }
  
  @include breakpoint($breakpoint-tablet-portrait) {
    padding: 10px 15px;
    font-size: em(20,16);
    display: inline-block;
  }
}