
// *********
// Companies Listing
// *********

.companies-listing {
  .entry {
    @include company-list-entry;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .companies-listing {
    .entry {
      @include clearfix;
      @include company-list-entry-desktop;
    }
  }
}

// ***********
// Company show
// ***********

.company-show {
  @include company-show;
}

.company-show-deals {
  h2.title {
    padding-left: 1em;
  }

  .deal-entry {
    @include popular-deal;
    margin-bottom: 1em;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .company-show {
   @include clearfix;
    float: left;
    height: auto;
    position: relative;
    @include company-show-desktop(65%);
  }

  .company-show-deals {
    @include clearfix;
    display: inline-block;
    float: left;
    width: 35%;
    height: auto;
    background-color: $color-webpage-bg;
    padding-left: 10px;
    padding-right: 10px;
    .deal-entry {
      @include popular-deal;
    }
  }

}
