
//  Frontpage

// Main Deal
.front-deal {
 @include main-deal;
}

@include breakpoint($breakpoint-tablet-landscape) {
  .front-deal {
    @include main-deal-desktop;
  }
}

// Latest and Popular Deals
.frontpage-latest-deals, .frontpage-featured-deals {
  position: relative;
  .deal-entry, h2, a {
    display: none;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {

  .frontpage-latest-deals, .frontpage-featured-deals {
    .deal-entry, h2, a {
      display: block;
    }
  }

  .frontpage-latest-deals, .frontpage-featured-deals {
    @include clearfix;
    .deal-entry {
      float: left;
      padding: 10px 10px;
      @include regular-deal(100%/3);
    }

    h2.title {
      padding-left: 10px;
    }

    div.btn-view-all-deals {
      clear: both;
      float: right;
      background-color: $color-btn-view-all-bg;
      padding: 1em 1em;
      text-align: center;
      width: 15%;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .frontpage-latest-deals, .frontpage-featured-deals {
    .deal-entry {
      @include regular-deal(25%);
    }
  }
}

// **********
// Deals Index
// **********

// Deals Menu
.deals-menu {
  display: none;
}

@include breakpoint($breakpoint-tablet-landscape) {
  // todo: style deals-menu
}

// Deals listing
.deals-listing {
  .deal-entry {
    @include regular-deal;
    margin-bottom: 20px;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .deals-listing {
    @include clearfix;
    .deal-entry {
      float: left;
      padding: 10px 10px;
      @include regular-deal(100%/3);
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .deals-listing {
    .deal-entry {
      @include regular-deal(25%);
    }
  }
}




// *******
// Deals Show
// *******
.deal-show {
  .deal-detail {
    @include deal-detail(100%);
    margin-bottom: 20px;
  }

  .deal-company-info {
    .deal-info {
      @include deal-info;
      margin-bottom: 20px;
    }

    .company-info{
      @include company-show;
    }

  }



  .similar-deals { display: none;}

  .popular-deals {
    h3.title {
      padding-left: 10px;
      color: $color-text-title-grey;
    }
    .deal-entry {
      @include clearfix;
      @include popular-deal;
      margin-bottom: 10px;

    }

  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .deal-show {
    .deal-detail {
      @include deal-detail-desktop(100%);
    }

    .deal-company-info {
      float: left;
      width: 60%;
      .deal-info {
        @include deal-info;
      }

      .company-info {
        margin-top: 20px;
        @include company-show-desktop($header_bar: false);
      }
    }

    .popular-deals {
      float: left;
      width: 40%;

      .deal-entry {
        @include popular-deal;
      }
    }

    .similar-deals {
      @include clearfix;
      display: block;
      clear: both;
      width: 100%;
      .deal-entry {
        float: left;
        padding: 10px 10px;
        @include regular-deal(100%/3);
      }
    }

  }
}

@include breakpoint($breakpoint-desktop) {
  .deal-show {

    .similar-deals {
      .deal-entry {
        @include regular-deal(25%);
      }
    }


  }

}

