@mixin main-deal($width: auto) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 0;
        padding: 5% 15% 5% 5%;
      }
    }

  }

  .description {
    position: absolute;
    width:100%;
    background-color: rgba($color-content-bg,0.75);
    bottom: 0;

    p {
      margin: 0;
      padding: 2% 0 2% 2%;

      &.title {
        font-weight: bold;
      }

      &.text { display: none; }
    }
  }



  .info {
    position: absolute;
    margin-top: 0;
    bottom: -40px;
    width: 100%;
    height: auto;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;
      text-align: center;
      padding: 2% 0 2% 2%;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }

    }

  }

}

@mixin main-deal-desktop($width: auto) {
  @include clearfix;
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;

  .image-container {
    position: relative;
    float: left;
    width: 60%;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 0;
        padding: 5% 15% 5% 5%;
      }
    }

  }

  .description {
    position: absolute;
    left: 60%;
    width:40%;
    height: auto;
    top: 0;
    bottom: 40px;
    padding: 10% 1%;
    background-color: $color-content-bg;


    p {
      margin: 0;
      padding: 2% 0 2% 2%;

      &.title {
        font-weight: bold;
      }

      &.text { display: block; }
    }
  }



  .info {
    position: absolute;
    left: 60%;
    width: 40%;
    height: auto;
    bottom: 0;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;
      text-align: center;
      padding: 2% 0 2% 2%;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }

    }

  }

}

@mixin regular-deal($width: auto,$bg-color: $color-webpage-bg) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $bg-color;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 0;
        padding: 5% 15% 5% 5%;
      }
    }

    .description {
      position: absolute;
      width:100%;
      background-color: rgba($color-content-bg,0.75);
      bottom: 0;

      p {
        margin: 0;
        padding: 2% 0 2% 2%;

        &.title {
          font-weight: bold;
        }

        &.text { display: none; }
      }
    }

  }


  .info {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;
      text-align: center;
      padding: 2% 0 2% 2%;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }

    }

  }

}



@mixin deal-detail($width: auto) {
  width: $width;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .hot-deal { display: none;}

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 5%;
      }
    }
  }

  .description {
    //position: absolute;
    width:100%;
    background-color: $color-content-bg;
    margin-top: 0;

    .company {
      display: none;
    }

    p {
      margin: 0 auto 2% 2%;

      &.title {
        font-weight: bold;
      }
    }
  }

  .discount {
    width: 100%;
    height: 60px;

    .percentage {
      background-color: $color-discount-percentage-bg;
      width: 50%;
      height: 100%;
      float:left;
    }

    .days-left {
      display: inline-block;
      background-color: $color-days-left-bg;
      width: 50%;
      height: 100%;
    }

    p {
      text-align: center;
      color: #fff;
      padding: 5%;
      margin: 0;
    }
  }

  .social {
    width: 100%;
    height: 50px;

    div {
      width: (100% / 3);
      img {
        display: block;
        margin: 0 auto;
      }
    }

    .facebook {
      float: left;
      background-color: $color-facebook-bg;
    }

    .share {
      height: 36px;
      float: left;
      background-color: $color-content-bg;
    }

    .twitter {
      float: left;
      background-color: $color-twitter-bg;
    }




  }

  .info {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;
      text-align: center;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }
    }

  }

}

@mixin popular-deal {
  width: 100%;
  height: auto;

  .image-container {
    position: relative;
    width: 40%;
    height: 90px;
    float: left;


    img {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    width: 60%;
    float: left;
    height: 90px;

    .description {
      background-color: $color-content-bg;
      padding: 10px 0 10px 0;
      height: 50%;
      .company { display: none;}
      p {
        margin: 0;
        text-align: center;
      }
    }

    .info {
      margin-top: 0;
      width: 100%;
      padding: 10px 0 10px 0;
      height: 50%;
      background-color: $color-discount-price-bg;

      div {
        display: inline-block;
        width: (100% / 2);
        height: 100%;
        float: left;

        &.price {
          //font-size: 2em;
        }

        &.old-price {
          text-decoration: line-through;
        }

        &.buy {
          display: none;
        }
      }

    }




  }

}









//  Frontpage

// Main Deal
.front-deal {
 @include main-deal;
}

@include breakpoint($breakpoint-tablet-landscape) {
  .front-deal {
    @include main-deal-desktop;
  }
}

// Latest and Popular Deals
.frontpage-latest-deals, .frontpage-featured-deals {
  position: relative;
  .deal-entry, h2, a {
    display: none;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {

  .frontpage-latest-deals, .frontpage-featured-deals {
    .deal-entry, h2, a {
      display: block;
    }
  }

  .frontpage-latest-deals, .frontpage-featured-deals {
    @include clearfix;
    .deal-entry {
      float: left;
      padding: 10px 10px;
      @include regular-deal(100%/3);
    }

    h2.title {
      padding-left: 10px;
    }

    div.btn-view-all-deals {
      clear: both;
      float: right;
      background-color: $color-btn-view-all-bg;
      padding: 1em 1em;
      text-align: center;
      width: 15%;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .frontpage-latest-deals, .frontpage-featured-deals {
    .deal-entry {
      @include regular-deal(25%);
    }
  }
}

// **********
// Deals Index
// **********

// Deals Menu
.deals-menu {
  display: none;
}

@include breakpoint($breakpoint-tablet-landscape) {
  // todo: style deals-menu
}

// Deals listing
.deals-listing {
  .deal-entry {
    @include regular-deal;
    margin-bottom: 20px;
  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .deals-listing {
    @include clearfix;
    .deal-entry {
      float: left;
      padding: 1em 1em;
      @include regular-deal(100%/3);
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .deals-listing {
    .deal-entry {
      @include regular-deal(25%);
    }
  }
}




// *******
// Deals Show
// *******
.deal-show {
  .deal-detail {
    @include deal-detail(100%);
  }

  .deal-company-info {display: none;}

  .similar-deals { display: none;}

  .popular-deals {
    h3.title {padding-left: 10px;}
    .deal-entry {
      @include popular-deal;
    }

  }


}

/*
// Deal Company Info
.deal-company-info {
  width: 100%;

  div {
    background-color: $color-content-bg;

    p, h3 {
      margin: 0;
      padding: 2% 5%;

      &.title {
        font-weight: bold;
      }

    }
  }

  button.collapse {
    background-color: $color-content-bg;
    border: none;
    display: block;
    margin: 0 auto;
  }

  img.logo {
    display: block;
    margin: 0 auto;
  }

}

// Popular Deals on Deals/show.html
.popular-deals {

  header {
    background-color: $color-headers-bg;
    height: 40px;
    width: 100%;

    h3 {
      color: #fff;
      text-align: left;
      margin: 0;
      padding: 2% 5%;
    }
  }

  .deal-entry {
    @include popular-deal;
  }


}

.similar-deals {
  display: none;
}

.company-deals {
  display: none;
}

*/


