// Frontpage

// Main Deal
.front-deal {
  @include main-deal;

  @include breakpoint($breakpoint-tablet-landscape) {
    @include main-deal-desktop;
  }
}

// Latest and featured deals
.frontpage-latest-deals,
.frontpage-featured-deals {
  @include clearfix;
  display: none;

  @include breakpoint($breakpoint-tablet-landscape) {
    display: block;
    margin-bottom: 25px;

    .deal-entry {
      margin-bottom: 15px;
      @include regular-deal;
      @include float-span(4);

      &:nth-child(3n+1) {
        @include float-span(4, 'omega');
      }
    }
    h2.title {
      margin-bottom: em(15,16);
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .btn-view-all-deals {
      clear: both;
      float: right;

      a {
        display: block;
        padding: 10px 30px;

        background-color: $color-btn-view-all-bg;
        color: $color-white;

        font-size: em(14,16);
        font-weight: 700;
        text-decoration: none;

        @include single-transition(background-color, 0.3s);

        &:hover {
          background-color: darken($color-btn-view-all-bg, 15);
        }
      }
    }
  }
  @include breakpoint($breakpoint-desktop) {
    .deal-entry {
      width: auto;
      @include float-span(4);

      &:nth-child(3n+1) {
        @include float-span(4); // reset.
      }
      &:nth-child(4n+1) {
        @include float-span(4, 'omega');
      }
    }
  }
}

.icon-ui-arrow {
  @include retina-background($icons-ui, 'children-open');

  display: inline-block;
  margin-left: 15px;
}

// **********
// Deals Index
// **********

// Deals Menu
.deals-menu {
  display: none;
}

@include breakpoint($breakpoint-tablet-landscape) {
  // todo: style deals-menu
}

// Deals listing
.deals-listing {
  @include clearfix;
  clear: both;

  .deal-entry {
    @include regular-deal;
    margin-bottom: 15px;
  }

  @include breakpoint($breakpoint-tablet-landscape) {

    .deal-entry {
      @include float-span(4);

      &:nth-child(3n) {
        @include float-span(4, 'omega');
      }
    }
  }
  @include breakpoint($breakpoint-desktop) {
    .deal-entry {
      @include float-span(4);

      &:nth-child(3n) {
        @include float-span(4); // reset.
      }
      &:nth-child(4n) {
        @include float-span(4, 'omega');
      }
    }
  }
}

// *******
// Deals Show
// *******
.deal-show {
  .deal-detail {
    @include deal-detail(100%);
    margin-bottom: 20px;
  }

  .deal-company-info {
    .deal-info {
      @include deal-info;
      margin-bottom: 20px;
    }

    .company-info{
      @include company-show;
    }
  }

  .similar-deals { display: none;}

  .popular-deals {
    h3.title {
      padding-left: 10px;
      color: $color-text-title-grey;
    }
    .deal-entry {
      @include clearfix;
      @include popular-deal;
      margin-bottom: 10px;

    }
  }
}

@include breakpoint($breakpoint-tablet-landscape) {
  .deal-show {
    .deal-detail {
      @include deal-detail-desktop(100%);
    }

    .deal-company-info {
      float: left;
      width: 60%;
      .deal-info {
        @include deal-info;
      }

      .company-info {
        margin-top: 20px;
        @include company-show-desktop($header_bar: false);
      }
    }

    .popular-deals {
      float: left;
      width: 40%;

      .deal-entry {
        @include popular-deal;
      }
    }

    .similar-deals {
      @include clearfix;
      display: block;
      clear: both;
      width: 100%;
      .deal-entry {
        float: left;
        padding: 10px 10px;
        @include regular-deal(100%/3);
      }
    }

  }
}

@include breakpoint($breakpoint-desktop) {
  .deal-show {

    .similar-deals {
      .deal-entry {
        @include regular-deal(25%);
      }
    }
  }
}

// Deals categories
.deals-categories {
  background-color: $color-footer-deal-cats-bg;

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    background-color: transparent;
  }
}

.deals-menu-list {
  @include no-bullets;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 300;

  li {
    margin-bottom: em(9,14);
  }
  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: $color-pink-red;
    }
  }
}
