.footer {
  @extend %l-container;
  margin-left: auto;
  margin-right: auto;

  background-color: $color-footer-bg;
  color: $color-white;

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    padding-top: 0.7em;
    border-top: 10px solid $color-blue-marine;
  }
}

// Blocks
.footer-block {
  padding: 17px 14px 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: em(15,12);

  // Blocks title
  .title {
    margin: 0 auto em(10,14);

    color: $color-white;
    font-size: 14px;
    font-weight: 600;
  }
  p {
    margin-top: 0;
    margin-bottom: em(8,12);
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    @include float-span(3);
    padding-left: 0;

    &:nth-child(4n) {
      @include float-span(3, 'last');
    }
    &:nth-child(4n+1) {
      padding-left: 14px;
    }

    // Blocks title
    .title {
      margin-bottom: em(16,14);
    }
  }
  @include breakpoint($breakpoint-desktop) {
    @include float-span(4);
    padding-left: 0;

    &:nth-child(4n) {
      @include float-span(4, 'last');
    }
  }
}

.logo-footer {
  clear: both;
  display: none;

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    @include float-span(4, 'first');
    display: block;

    img {
      float: left;
      vertical-align: top;
      margin-right: 30px;
    }
  }
  @include breakpoint($breakpoint-desktop) {
    @include float-span(5, 'first');
  }
}
