footer.footer {
  @include clearfix;
  width: 100%;
  height: auto;
  background-color: $color-footer-bg;
  color: #fff;


  .l-footer-left {
    width: 100%;
    float: none;

    .deal-categories {
      background-color: $color-footer--deal-categories-bg;


      ul {
        list-style-type: none;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0;

        li {

          &:first-child {
            font-weight: bold;
          }

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .advertise, .other-deals {
      color: #fff;
      padding-left: 40px;

      p.title {
        font-weight: bold;
      }
    }

    .logo {
      display: none;
    }

  }


  .l-footer-right {
    width: 100%;
    float: none;

    .subscribe {
      .title {display: none;}

      form {
        width: 100%;

        .email-input {
          float:left;
          width: 70%;
          height: 40px;
        }

        .submit-btn {
          display: inline-block;
          width: 30%;
          height: 40px;
          background-color: $color-footer-send-btn;
          input[type="submit"] {
            background-color: $color-footer-send-btn;
            color: #fff;
            border: 0;
          }
        }

        input {
          width: 100%;
          height: 100%;

        }


      }
    }

    .social {
      color: #fff;
      padding-left: 40px;
      p.title {
        font-weight: bold;
      }

      a {
        color: #fff;
        text-decoration: none;

        img {
          max-width: 36px;
          max-height: 36px;
          margin-right: 30px;
          margin-bottom: 5px;

        }
      }
    }

  }

}


@include breakpoint($breakpoint-tablet-landscape) {
  footer.footer {
    margin-top: 2em;

    .l-footer-left {
      width: 75%;
      float: left;

      .deal-categories {
        width: (100%/3);
        float: left;
        background-color: $color-footer-bg;

        ul {
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }

      .advertise, .other-deals {
        width: (100%/3);
        float: left;
        padding-left: 0;
        padding-right: 1em;
      }

      .logo {
        display: block;
        clear: both;
        width: 100%;
        padding-left: 40px;
        padding-bottom: 20px;
        p {
          display: inline-block;
        }
      }

    }

    .l-footer-right {
      width: 25%;
      float: left;

      .subscribe {
        width: 100%;
        background-color: $color-footer-bg;
        .title { display: block; }
      }

      .social {
        width: 100%;
        padding-left: 0;
      }


    }






  }
}
