.header {
  text-align: center;

  .logo {
    display: none;

    a {
      display: block;
      padding: 60px;
      text-decoration: none;
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    .logo {
      display: inline-block;
    }
  }
}
