.header {
  text-align: center;

  .logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;

    a {
      display: block;
      padding: 20px 70px 25px;
      text-decoration: none;

      img {
        vertical-align: middle;
      }
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    .logo a {
      padding: 60px 60px 70px;
    }
  }
}
