.about-site-info {
  @include clearfix;
  position: relative;
  width: 100%;
  background-color: $color-about-bg;

  .text {
    float: left;
    padding: 14px 16px;
    color: #fff;

    p {
      margin: 0;
      font-size: em(20,16);
      font-weight: 300;
      line-height: 1;
    }
    p:last-child {
      display: none;
    }
  }

  .btn {
    float: right;
    background-color: $color-about-btn;
    text-align: center;

    .btn-learn-more {
      display: block;
      padding: 13px 20px;

      color: $color-white;
      font-weight: 600;
      text-decoration: none;

      @include single-transition(background-color, 0.3s);

      &:hover {
        background-color: $color-pink-red;
      }
    }
  }

  @include breakpoint($breakpoint-tablet-landscape) {
    margin-bottom: 55px;

    .text {
      width: 80%;
      padding: 19px 26px;

      p {}
      p:first-child {
        display: none;
      }
      p:last-child {
        display: block;
      }
    }
    .btn {
      .btn-learn-more {
        font-size: em(18,16);
        padding: 16px 25px 17px;
      }
    }
  }
}
