.about-site-info {
  width: 100%;
  height: 100%;
  background-color: $color-about-bg;
  margin-top: 60px;
  position: relative;

  .text {
    float: left;
    width: 65%;
    padding: 10px;
    height: 100%;
    color: #fff;

    p {
      margin: 0;
    }
  }

  .btn {
    float: none;
    display: inline-block;
    width: 35%;
    height: 100%;
    background-color: $color-about-btn;
    text-align: center;
    padding: 10px;

    .btn-learn-more {
      color: #fff;
      text-decoration: none;
    }
  }

}

@include breakpoint($breakpoint-tablet-landscape) {
  .about-site-info {
    .text {
      width: 80%;
    }

    .btn {
      width: 20%;
    }
  }
}
