.nav--main {
  margin-bottom: 15px;

  .nav--title {
    margin: 0;
    padding: 14px 20px 14px 10px;

    background-color: $color-blue-dark;

    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    text-align: right;

    cursor: pointer;

    i {
      display: inline-block;
      margin-left: 6px;
    }
  }
}

.nav--secondary {
  margin-bottom: 15px;

  .nav--title {
    margin: 0 10px;
    padding: 8px 10px 8px 20px;

    background-color: $color-white;

    color: $color-blue-dark;
    font-size: 1em;
    font-weight: 400;

    cursor: pointer;

    i {
      float: right;
      display: inline-block;
      margin: 4px auto 0;
    }
  }
}

.menu--dropdown {
  display: none;

  @include no-bullets;
  margin: 0 10px em(26,16);
  padding: 10px 0;

  background-color: $color-white;
  font-size: 1em;

  .nav--secondary & {
    border-top: 1px solid $color-blue-dark;
  }

  a {
    display: block;
    padding: 5px 20px;

    color: $color-blue-dark;
    text-decoration: none;

    &:hover,
    &.active {
      padding-left: 14px;
      border-left: 6px solid $color-pink-red;
    }
    &.active {
      text-decoration: underline;
    }
  }
  ul {
    display: none;
  }
}

// Icons
.icon-ui-dropdown {
  @include retina-background($icons-ui, 'dropdown');
}

.icon-ui-settings {
  @include retina-background($icons-ui, 'settings');
}
