.nav--main {
  margin-bottom: 15px;
  text-align: left;

  .nav--title {
    margin: 0;
    padding: 14px 10px;

    background-color: $color-blue-dark;
    color: $color-white;

    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
    text-align: right;

    i {
      display: inline-block;
      margin-left: 6px;
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    .nav--title {
      display: none; // TODO: apply invisible element mixin
    }
  }
}

.nav--secondary {
  margin-bottom: 15px;
  text-align: left;

  .nav--title {
    margin: 0;
    padding: 8px 10px 8px 20px;

    background-color: $color-white;
    color: $color-blue-dark;

    cursor: pointer;

    font-size: 1em;
    font-weight: 400;

    i {
      float: right;
      display: inline-block;
      margin: 4px auto 0;
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    display: none!important;
  }
}

.menu--dropdown {
  display: none;

  @include no-bullets;
  margin: 0 auto em(26,16);
  padding: 10px 0;

  background-color: $color-white;
  font-size: 1em;

  .nav--secondary & {
    border-top: 1px solid $color-blue-dark;
  }

  a {
    display: block;
    padding: 5px 20px;

    color: $color-blue-dark;
    text-decoration: none;

    &:hover,
    &.active {
      padding-left: 14px;
      border-left: 6px solid $color-pink-red;
    }
    &.active {
      text-decoration: underline;
    }
  }
  ul {
    display: none;
  }
}

.menu--main {
  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    display: block;
    @include horizontal-list(0);

    background-color: transparent;
    font-size: em(18,16);

    a {
      padding: 12px 28px 11px;

      border-right: 1px solid $color-webpage-bg;
      background-color: $color-blue-dark;
      color: $color-white;
      font-weight: 300;
      @include single-transition(background-color, 0.3s);

      &:hover {
        background-color: $color-pink-red;
        padding: 12px 28px 11px;
        border-left: none;
      }
      i {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 10px;
      }
    }
    .is-highlighted a {
      font-weight: 600;
    }

    .has-children {
      position: relative;

      &:after {
        @include retina-background($icons-ui, 'children-open');
        content: '';
        display: inline-block;
        position: absolute;
        top: em(20,18);
        right: -7px;

        color: $color-white;
      }
    }
  }
}

.menu--secondary {
  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {}
}

// Icons
.icon-ui-dropdown {
  @include retina-background($icons-ui, 'dropdown');
}

.icon-ui-settings {
  @include retina-background($icons-ui, 'settings');
}

.icon-ui-location {
  @include retina-background($icons-ui, 'location');
}
.icon-ui-add {
  @include retina-background($icons-ui, 'add');
}
.icon-ui-info {
  @include retina-background($icons-ui, 'info');
}
