.nav--main {
  margin-bottom: 15px;
  overflow: hidden;

  text-align: left;

  background-color: #ccc;

  .nav--title {
    margin: 0;
    padding: 14px 10px;

    background-color: $color-blue-dark;
    color: $color-white;

    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
    text-align: right;

    i {
      display: inline-block;
      margin-left: 6px;
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    .nav--title {
      display: none; // TODO: apply invisible element mixin
    }
  }
}

.nav--secondary {
  margin-bottom: 15px;
  text-align: left;
  display: none !important;

  .nav--title {
    margin: 0;
    padding: 8px 10px 8px 20px;

    background-color: $color-white;
    color: $color-blue-dark;

    cursor: pointer;

    font-size: 1em;
    font-weight: 400;

    i {
      float: right;
      display: inline-block;
      margin: 4px auto 0;
    }
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    display: none!important;
  }
}

.menu--dropdown {
  display: none;

  @include no-bullets;
  margin: 0 auto em(26,16);
  padding: 10px 0;

  background-color: $color-white;
  font-size: 1em;

  .nav--secondary & {
    border-top: 1px solid $color-blue-dark;
  }

  a {
    display: block;
    padding: 5px 20px;

    color: $color-blue-dark;
    text-decoration: none;

    &:hover,
    &.active {
      padding-left: 14px;
      border-left: 6px solid $color-pink-red;
    }
    &.active {
      text-decoration: underline;
    }
  }
  .has-form {
    display: none;
  }
  ul {
    display: none;
  }
}

.menu--main {
  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    display: block;
    position: relative;
    padding: 0;

    max-height: 48px; // hack to 'expand' on medium res, in 1 line.
    overflow: hidden;

    @include horizontal-list(0);

    font-size: em(18,16);

    a {
      position: relative;
      z-index: 2;

      padding: 12px 28px 11px;

      border-right: 1px solid $color-webpage-bg;
      background-color: $color-blue-dark;
      color: $color-white;
      font-weight: 300;
      @include single-transition(background-color, 0.3s);

      &:hover {
        background-color: $color-pink-red;
        padding: 12px 28px 11px;
        border-left: none;
      }
      i {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 10px;
      }
    }
    .is-highlighted a {
      font-weight: 600;
    }
    .has-children {
      position: relative;

      &:after {
        @include retina-background($icons-ui, 'children-open');
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 3;
        top: em(20,18);
        right: -7px;

        color: $color-white;
      }
      &.open:after {
        @include retina-background($icons-ui, 'children-close');
        right: 0;
      }
      a {
        float: left;
      }
    }
    .has-form {
      display: block;
      position: static;
      width: 100%;
      margin-right: -100%;
      overflow: hidden;
    }

    // 2nd Level.
    ul {
      display: none;
      float: left;
      padding-left: 0;

      a {
        position: relative;
        padding: 12px 20px 11px;
        background-color: $color-blue-marine;

        &:hover {
          padding: 12px 20px 11px;
        }
        &.active,
        &:active {
          display: inline-block;
          left: 0;

          background-color: $color-pink-red;
          content: '';
        }
      }
    }
  }
}

.menu--secondary {
  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {}
}

// Form
.nav--search {
  position: static;

  input {
    font-size: em(20, 18);
    font-weight: 300;
  }
  input[name="search"] {
    float: left;
    width: 100%;
    padding: 10px 20px 11px;
    border: none;
    vertical-align: top;

    background-color: $color-white;
    color: $color-blue-dark;
    @include single-transition(background-color, 0.3s);

    @include placeholder {
      color: $color-blue-dark;
    }
    &:focus {
      background-color: transparentize($color-blue-dark, 0.98);
      outline: none;
    }
  }
  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: em(80,20);
    margin: 0 0 0 -100%;
    padding: 10px 0 11px;
    border: none;

    background-color: $color-subscribe-btn-mobile;
    color: $color-white;
  }
}

// Icons
.icon-ui-dropdown {
  @include retina-background($icons-ui, 'dropdown');
}

.icon-ui-settings {
  @include retina-background($icons-ui, 'settings');
}

.icon-ui-location {
  @include retina-background($icons-ui, 'location');
}

.icon-ui-add {
  @include retina-background($icons-ui, 'add');
}

.icon-ui-info {
  @include retina-background($icons-ui, 'info');
}
