.subscribe {
  background-color: $color-headers-bg;
  color: #fff;
  width: 100%;
  form {
    width: 100%;

    .input {
      width: 100%;
      padding-bottom: 10%;

      .label {
        width: 100%;
        padding: 2% 2%;
      }

      .email {
        background-color: #fff;
        float: left;
        width: 80%;
        height: 100%;
        padding: 2% 2%;

        input[type="email"] {
          width: 100%;
          border: 0;
        }
      }

      .submit {
        display: inline-block;
        width: 20%;
        height: 100%;
        padding: 2% 0;
        background-color: $color-subscribe-btn-mobile;
        text-align: center;
        input[type="submit"] {
          background-color: $color-subscribe-btn-mobile;
          border: 0;
          color: #fff;
        }
      }
    }
  }
}

// 960px
@include breakpoint($breakpoint-tablet-landscape) {
  .subscribe {
    background-color: $color-webpage-bg;

    form {

      .input {
        width: 100%;
        padding-bottom: 2%;

        .label {
          float: left;
          width: 30%;
          background-color: $color-subscribe-label-bg;
        }

        .email {
          width: 50%;
        }

        .submit {
          background-color: $color-subscribe-btn-desktop;
          input[type="submit"] {
            background-color: $color-subscribe-btn-desktop;
          }
        }
      }
    }

  }

}
