// Notes:
// - line-height in use is 1.4

.subscribe {
  @include clearfix;

  width: 100%;
  margin: 0 auto 4px;

  background-color: $color-headers-bg;
  color: $color-white;


  label {
    display: block;
    padding: 14px;

    font-size: 14px;
    font-weight: 600;
  }
  input {
    float: left;
    vertical-align: top;
  }
  input[type='text'] {
    width: percentage(230/300);
    margin: 0;
    padding: 10px 13px;
    border: none;

    background: $color-white;
    color: $color-blue-dark;
    font-family: $font-family-sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;

    @include placeholder {
      color: $color-blue-dark;
    }
  }
  input[type='submit'] {
    width: percentage(70/300);
    margin: 0;
    padding: 13px;
    border: none;

    background-color: $color-subscribe-btn-mobile;
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
  }

  // Breakpoints.
  // Tablet (landscape)
  @include breakpoint($breakpoint-tablet-landscape) {
    label {
      float: left;
      width: percentage(495/1260);
      height: 58px;
      padding: 15px 25px;

      background-color: $color-subscribe-label-bg;

      font-size: 20px;
      font-weight: 300;
    }
    input[type='text'] {
      width: percentage((1260 - 495)/1260);
      height: 58px;
      margin-right: em(-108, 20);
      padding: 15px em(128, 20) 16px 20px;
    }
    input[type='submit'] {
      width: em(108, 18);
      height: 58px;
      padding: 19px 13px 18px;

      background-color: $color-blue-dark;
      font-size: 18px;
    }
  }
}

.subscribe-top {
  padding-bottom: 47px;

  // Breakpoints.
  // Tablet (landscape)
  @include breakpoint($breakpoint-tablet-landscape) {
    padding-bottom: 0;
  }
}
