.subscribe {
  background-color: $color-headers-bg;
  color: #fff;
  form {

    label {}
    input[type="submit"] {
      background-color: $color-btn-bg;
      border: 0;
      color: #fff;

    }
  }
  @include breakpoint($breakpoint-tablet-portrait) {


  }


}
