.close-block {
  display: none;
  clear: both;
  position: relative;
  z-index: 10;
  width: 100%;
  text-align: right;

  i {
    @include retina-background($icons-ui, 'close-block');
    background-color: $color-white;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  // Breakpoints.
  @include breakpoint($breakpoint-tablet-landscape) {
    display: block;
  }
}
.close-bottom {
  margin-bottom: -38px;
}

.scroll-bottom {
  clear: both;
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;

  i {
    @include retina-background($icons-ui, 'scroll-bottom');
    display: inline-block;
    vertical-align: top;
  }
}
