// Variables

// Font families
$font-family-serif: 'Cardo', serif;
$font-family-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// ***** Colors ******

// Standalone
$color-blue-dark:   #333845;
$color-blue-marine: #75C7D4;
$color-pink-red:    #EB2C4A;
$color-white-blue:  #EDF4F6;
$color-white:       #FFFFFF;
$color-gray-purple: #6E7078;

// Global background
$color-headers-bg: $color-blue-dark;
$color-content-bg: $color-white;
$color-webpage-bg: $color-white-blue;

// Buttons
$color-btn-primary: $color-blue-dark; 

// Menu
$color-menu-bg:     $color-blue-dark;
$color-sub-menu-bg: $color-blue-marine;

// Footer
$color-footer-bg:           $color-blue-dark;
$color-footer-deal-cats-bg: $color-blue-marine;
$color-footer-send-btn:     $color-pink-red;

// Text colors
$color-text-title:        $color-blue-dark;
$color-text-content:      #b3b4b8;
$color-text-title-grey:   $color-gray-purple;
$color-text-content-grey: $color-gray-purple;

// Deals sections colors
$color-hot-deal-bg:            #0ee205;
$color-discount-price-bg:      #d6dde0;
$color-btn-bg:                 $color-pink-red;
$color-discount-percentage-bg: $color-blue-marine;
$color-days-left-bg:           #98dae4;
$color-facebook-bg:            #3b5998;
$color-twitter-bg:             #4099ff;
$color-company-name-text:      $color-gray-purple;
$color-btn-view-all-bg:        $color-pink-red;
$color-deal-info-text:         $color-gray-purple;

// About (learn more) section colors
$color-about-bg:  $color-blue-marine;
$color-about-btn: $color-blue-dark;

// Company
$color-logo-bg:           $color-pink-red;
$color-more-btn:          $color-blue-marine;
$color-company-show-text: $color-gray-purple;

// Subscribe section
$color-subscribe-label-bg:    $color-blue-marine;
$color-subscribe-btn-mobile:  $color-pink-red;
$color-subscribe-btn-desktop: $color-blue-dark;
