// Variables partial



// Font Family



// Colors

//  General background colors
$color-headers-bg: #333845;
$color-content-bg: #ffffff;
$color-webpage-bg: #edf4f6;

// Menu
$color-sub-menu-bg: #75c7d4;
$color-menu-bg: #333845;

// Footer
$color-footer-bg: #333845;
$color-footer--deal-categories-bg: #75c7d4;

// Text colors
$color-text-title: #333845;
$color-text-content: #b3b4b8;

// Deals sections colors
$color-hot-deal-bg: #0ee205;
$color-discount-price-bg: #d6dde0;
$color-btn-bg: #eb2c4a;
$color-discount-percentage-bg: #75c7d4;
$color-days-left-bg: #98dae4;
$color-facebook-bg: #3b5998;
$color-twitter-bg: #4099ff;
$color-company-name-text: #6e7078;

// About (learn more) section colors
$color-about-bg: #75c7d4;
$color-about-btn: #333845;

// Company
$color-logo-bg: #eb2c4a;
$color-more-btn: #75c7d4;










