@mixin company-list-entry {
  width: 100%;
  background-color: $color-content-bg;
  margin: 10px auto;

  p {
    margin: 0;
    padding: 0 10px;
  }

  .details {
    width: 100%;

    .name {
      padding-top: 2%;
      color: $color-company-name-text;
      font-size: em(20,16); 
    }

    .description { display:none; }
  }

  .website {
    padding: 10px;
    a {
      font-weight: bold;
      color: $color-text-title;
      text-decoration: none;
    }
  }

  .address {
    margin-bottom: em(10,16);
    .title { display: none; }
    .info {
      p {
        color: $color-text-content-grey;
      }
    }
  }

  .more-info {
    @include clearfix;
    width: 100%;

    .logo {
      background-color: $color-logo-bg;
      float: left;
      width: 50%;

      img {
        display: block;
        margin: 0 auto;
        max-height: 55px;
      }
    }

    .info-btn {
      float: left;
      width: 50%;
      text-align: center;

      a {
        color: #fff;
        text-decoration: none;
        background-color: $color-more-btn;
        display: block;
        line-height: 55px;
      }
    }
  }

}

@mixin company-list-entry-desktop {
  width: 100%;
  position: relative;
  background-color: $color-content-bg;
  margin: 10px auto;

  p {
    margin: 0;
    color: $color-company-name-text;
    padding: 10px 10px;
  }

  .details {
    width: 35%;
    float: left;

    p.name {
      font-weight: bold;
    }

    .description {
      display: block;

    }
  }

  .address {
    float: left;
    width: 25%;

    .title {
      display: block;
      font-weight: bold;
    }

    .info {
      p {
        padding: 0;
      }
    }


  }

  .website {
    position: absolute;
    left: 60%;
    width: 25%;
    a {
      font-weight: bold;
      color: $color-company-name-text;
      text-decoration: none;
    }
  }



  .more-info {
    @include clearfix;
    float: right;
    left: 85%;
    width: 15%;
    height: 100%;
    background-color: $color-more-btn;

    .logo {

      background-color: $color-logo-bg;
      float: none;
      width: 100%;
      height: 100%;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .info-btn {
      float: none;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1.5em;

      a {

        color: #fff;
        text-decoration: none;
      }
    }
  }

}

@mixin company-show($width: auto) {
  width: $width;
  background-color: $color-content-bg;
  margin: 0px auto;

  p {
    margin: 0;
    padding: 0 5%;
  }

  .details {
    width: 100%;
    position: relative;

    .name {
      background-color: $color-headers-bg;

      p {
        color: #fff;
        text-align: center;
        padding: 10px 0;
      }
    }

    .logo {
      position: absolute;
      top: 50px;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .title { display: none; }

    .description {
      padding-top: 100px;
      color: $color-company-show-text;
    }

  }

  .address, .contact {

    width: 100%;

    .title {
      p {
        padding-top: 3%;
        padding-bottom: 3%;
      }
    }

    .info {
      p {
        color: $color-company-show-text;
      }
    }
  }

  p.website {
    font-weight: bold;
    padding: 2% 5%;
  }

  .map {
    width: 100%;
    img {
      width: 100%;
    }
  }

}

@mixin company-show-desktop($width: auto,$header_bar: true) {
  width: $width;
  background-color: $color-content-bg;


  p {
    margin: 0;
    padding: 0 10px;
  }

  .details {
    width: 100%;
    //position: absolute;
    top: 0;

    @if $header-bar {

      .name {
        background-color: $color-headers-bg;
        p {
          color: #fff;
          text-align: left;
          padding: 10px 10px;
        }
      }

    } @else {

      .name {
        display: none;
      }

    }

    .logo {
      position: absolute;
      top: 120px;
      right: 10px;
      width: 20%;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .title {
      display: block;
      font-weight: bold;
      font-size : 1.5em;
      padding: 10px 10px;
      color: $color-company-name-text;
    }

    .description {
      width: 75%;
      padding-top: 20px;
      color: $color-company-show-text;
      background-color: $color-content-bg;
    }

  }

  .address, .contact {
    width: 50%;
    float: left;

    .title {
      p {
        //padding-top: 3%;
        //padding-bottom: 3%;
      }
    }

    .info {
      p {
        color: $color-company-show-text;
      }
    }
  }

  p.website {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bold;
    padding: 10px 10px;
    color: #fff;


  }

  .map {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
