@mixin main-deal($width: auto) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;
  margin-bottom: 70px;

  color: $color-blue-dark;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
    .price {
      position: absolute;
      bottom: 45%;
      right: 0%;
      background-color: rgba($color-content-bg, 0.85);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(18,16);
        font-weight: 300;
        margin: 0;
        padding: 9px 30px 8px 12px;
      }
      strong {
        font-weight: 700;
      }
    }
  }
  .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: em(10,16) em(14,16);
    background-color: rgba($color-content-bg, 0.85);

    p {
      margin: 0;

      &.title {
        font-size: em(20,16);
        font-weight: 700;
        line-height: em(25,20);
      }
      &.company {
        font-size: em(18,16);
        font-weight: 300;
      }
      &.text {
        display: none;
      }
    }
  }
  .info {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-left: 18px;
    line-height: 56px;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      vertical-align: top;

      width: (100% / 3);
      float: left;

      &.price {
        font-size: em(22,16);
        font-weight: 700;
      }
      &.old-price {
        vertical-align: bottom;
        font-size: em(14,16);
        font-weight: 700;
        text-decoration: line-through;
      }
      &.buy {
        float: none;

        .btn-buy {
          display: block;
          background-color: $color-btn-bg;
          color: $color-white;

          font-size: em(18,16);
          font-weight: 600;
          text-align: center;
          text-decoration: none;

          @include single-transition(background-color, 0.3s);

          &:hover {
            background-color: darken($color-pink-red, 15);
          }
        }
      }
    }
  }
}

@mixin main-deal-desktop($width: auto) {
  $main_deal_desktop_left: (800/1260) * 100%;
  $main_deal_desktop_right: 100% - $main_deal_desktop_left;

  @include clearfix;
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;
  margin-bottom: 25px;

  .image-container {
    position: relative;
    float: left;
    width: $main_deal_desktop_left;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 56px;
      right: 0;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(32,16);
        margin: 0;
        padding: 30px 30px 11px 95px;
      }
    }
  }
  .description {
    position: absolute;
    left: $main_deal_desktop_left;
    width: $main_deal_desktop_right;
    height: auto;
    top: 0;
    bottom: 56px;
    padding: 8.75% 1.6% 0 2.4%;
    background-color: $color-content-bg;


    p {
      margin: 0;

      &.title {
        font-size: em(32,16);
      }
      &.company {
        font-size: em(28,16);
        margin-bottom: em(16,28);
      }
      &.text {
        display: block;
        color: $color-deal-info-text;
      }
    }
  }
  .info {
    background-color: $color-discount-price-bg;
    position: absolute;
    top: auto;
    bottom: 0;
    left: $main_deal_desktop_left;
    width: $main_deal_desktop_right;
    height: 56px;
    text-align: right;
    overflow: hidden;

    div {
      float: none;
      display: inline-block;
      vertical-align: top;

      width: auto;
      height: auto;

      text-align: center;

      &.price {
        margin-right: 20px;
      }
      &.old-price {
        margin-right: 20px;
        padding-top: 4px;
        vertical-align: bottom;
      }
      &.buy {
        .btn-buy {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}

@mixin regular-deal($width: auto, $bg-color: $color-webpage-bg) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $bg-color;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
    .price {
      position: absolute;
      bottom: 40%;
      right: 0%;
      background-color: rgba($color-content-bg, 0.85);
      white-space: nowrap; // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(18,16);
        font-weight: 300;
        margin: 0;
        padding: 9px 30px 8px 12px;
      }
    }

    .description {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: em(10,16) em(14,16);
      background-color: rgba($color-content-bg, 0.85);

      p {
        margin: 0;

        &.title {
          font-size: em(20,16);
          font-weight: 700;
          line-height: em(25,20);
        }
        &.company {
          font-size: em(18,16);
          font-weight: 300;
        }
        &.text {
          display: none;
        }
      }
    }
  }
  .info {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-left: 18px;
    line-height: 56px;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      vertical-align: top;

      width: (100% / 3);
      float: left;

      &.price {
        font-size: em(22,16);
        font-weight: 700;
      }
      &.old-price {
        vertical-align: bottom;
        font-size: em(14,16);
        font-weight: 700;
        text-decoration: line-through;
      }
      &.buy {
        float: none;

        .btn-buy {
          display: block;
          background-color: $color-btn-bg;
          color: $color-white;

          font-size: em(18,16);
          font-weight: 600;
          text-align: center;
          text-decoration: none;

          @include single-transition(background-color, 0.3s);

          &:hover {
            background-color: darken($color-pink-red, 15);
          }
        }
      }
    }
  }
}

@mixin deal-detail($width: auto) {
  width: $width;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
    .hot-deal {
      display: none;
    }
    .price {
      position: absolute;
      bottom: 20px;
      right: 0;
      width: auto;
      padding: 9px 32px 9px 12px;
      background-color: rgba($color-content-bg, 0.85);
      white-space: nowrap;  // todo: find a better way to calc div width

      overflow: hidden;

      p {
        font-size: em(18,16);
        margin: 0;
      }
    }
  }
  .description {
    width: 100%;
    margin: 0;
    padding: 8px 15px 15px;
    background-color: $color-content-bg;

    .company {
      display: none;
    }
    p {
      margin: 0;
      font-size: em(12,16);

      &.title {
        margin-bottom: em(6,16);
        font-size: 1em;
        font-weight: 700;
      }
      &.text {
        color: $color-text-title-grey;
      }
    }
  }
  .discount {
    @include clearfix;
    width: 100%;
    height: 86px;

    p {
      margin: 0;
      color: $color-white;
      text-align: center;
    }
    .percentage {
      float: left;
      width: 50%;
      height: 100%;
      background-color: $color-discount-percentage-bg;

      p {
        font-size: em(24,16);
        font-weight: 400;
        line-height: 85px;
        white-space: nowrap;
      }
    }
    .days-left {
      float: left;
      background-color: $color-days-left-bg;
      width: 50%;
      height: 100%;

      p {
        margin-top: em(28,16);

        font-size: em(12,16);
        font-weight: 400;

        span {
          display: block;
          margin: 2px auto 0;

          font-size: em(20,12);
          font-weight: 300;
        }
      }
    }
  }
  .social {
    @include clearfix;
    width: 100%;
    height: 56px;
    margin-bottom: 15px;

    div {
      width: (100% / 3);
      height: 100%;
      float: left;

      a {
        padding: 15px;
        display: block;
        text-align: center;

        @include single-transition(background-color, 0.3s);

        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
      img {
        display: inline-block;
        vertical-align: top;
      }
    }
    .facebook {
      background-color: $color-facebook-bg;
    }
    .share {
      background-color: $color-white;
    }
    .twitter {
      background-color: $color-twitter-bg;
    }
  }
  .info {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: auto;
      float: left;

      font-weight: 700;
      text-align: center;

      &.price {
        padding: 13px;
        font-size: em(22,16);
      }
      &.old-price {
        padding: 20px 0 17px;

        font-size: em(14,16);
        text-align: center;
        text-decoration: line-through;
      }
      &.buy {
        float: none;

        .btn-buy {
          display: block;
          padding: 17px;

          background-color: $color-btn-bg;
          color: $color-white;

          font-weight: 600;
          text-decoration: none;

          @include single-transition(background-color, 0.3s);

          &:hover {
            background-color: darken($color-btn-bg, 15);
          }
        }
      }
    }
  }
}

@mixin deal-detail-desktop($width: auto) {
  $deal_show_left: (800/1260) * 100%;
  $deal_show_right: 100% - $deal_show_left;

  @include clearfix;
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;

  .image-container {
    position: relative;
    float: left;
    width: $deal_show_left;

    img {
      width: 100%;
    }
    .hot-deal {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0ee204;
      width: auto;

      p {
        color: #fff;
        font-size: em(18,16);
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        padding: 16px 28px;
      }
    }
    .price {
      position: absolute;
      bottom: 112px;
      height: 86px;
      right: 0;
      width: auto;
      padding: 22px 28px 0 90px;
      overflow: hidden;

      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width

      p {
        font-size: em(32,16);
        margin: 0;
      }
    }
  }
  .description {
    position: absolute;
    top: 0;
    left: $deal_show_left;
    bottom: 198px;
    padding: 10px;
    width: $deal_show_right;
    margin: 0;
    padding: 3% 1.6% 0 2.4%;

    background-color: $color-content-bg;

    .company {
      display: block;
    }
    p {
      font-size: 1em;
      margin: 0;

      &.title {
        font-size: em(32,16);
        font-weight: 700;
        margin-bottom: 0;
      }
      &.company {
        font-size: em(28,16);
        margin-bottom: 1em;
      }
    }
  }
  .discount {
    position: absolute;
    left: $deal_show_left;
    bottom: 112px;
    width: $deal_show_right;
    height: 86px;

    .percentage {}
    .days-left {
      p {
        margin-top: 1em;
        font-size: 1em;

        span {
          margin-top: 0;
          font-size: em(24,16);
        }
      }
    }
  }
  .social {
    position: absolute;
    left: $deal_show_left;
    bottom: 56px;
    width: $deal_show_right;
    height: 56px;
    margin: 0;

    background-color: $color-twitter-bg;

    div {
      width: 33.333333%;
    }
  }
  .info {
    position: absolute;
    left: $deal_show_left;
    bottom: 0;
    width: $deal_show_right;
    height: 56px;

    background-color: $color-discount-price-bg;
    text-align: right;

    div {
      float: none;
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto;
      text-align: center;

      &.price {
      }
      &.old-price {
        margin-right: 17px;
      }
      &.buy {
        .btn-buy {
          padding: 17px 20px;
        }
      }
    }
  }
}

@mixin popular-deal($width: auto) {
  width: $width;
  height: auto;

  .image-container {
    position: relative;
    width: 33.333333%;
    height: 125px;
    float: left;
    overflow: hidden;

    @media (max-width: 23em) {
      width: 20%;
    }
    img {
      min-width: 100%;
      max-width: inherit;
      min-height: 100%;
    }
  }
  .details {
    width: 66.666666%;
    float: left;

    @media (max-width: 23em) {
      width: 80%;
    }

    .description {
      background-color: $color-content-bg;
      padding: 10px 5px 10px 10px;

      .company {
        font-size: em(18,16);
      }
      .title {
        font-size: em(22,16);
        font-weight: 700;
      }
      p {
        margin: 0;
      }
    }

    .info {
      margin-top: 0;
      padding-left: 10px;
      width: 100%;
      line-height: 50px;
      background-color: $color-discount-price-bg;

      div {
        display: inline-block;
        width: (100% / 3);
        height: 45px;
        float: left;

        &.price {
          font-size: em(18,16);
          font-weight: 700;
        }
        &.old-price {
          text-decoration: line-through;
          font-size: em(14,16);
        }
        &.buy {
          float: none;
          text-align: center;

          .btn-buy {
            background-color: $color-btn-bg;
            color: #fff;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
  }
}

@mixin deal-info($width: auto) {
  width: $width;
  margin: 0 auto;
  padding: 10px 15px 15px;
  background-color: $color-content-bg;

  p {
    margin: 0 0 1em;
    color: $color-deal-info-text;
    font-size: em(12,16);

    &.title {
      margin-bottom: em(6,16);
      color: $color-blue-dark;
      font-size: 1em;
      font-weight: 700;
    }
    &.text {
      color: $color-text-title-grey;
    }
  }
}

@mixin deal-info-desktop($width: auto) {
  width: $width;
  padding: 24px 30px 30px;

  p {
    font-size: 1em;

    &.title {
      margin-bottom: em(19,26);
      font-size: em(26,16);
    }
  }
}
