@mixin main-deal($width: auto) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;
  margin-bottom: 70px;

  color: $color-blue-dark;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
    .price {
      position: absolute;
      bottom: 45%;
      right: 0%;
      background-color: rgba($color-content-bg, 0.85);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(18,16);
        font-weight: 300;
        margin: 0;
        padding: 9px 30px 8px 12px;
      }
      strong {
        font-weight: 700;
      }
    }
  }

  .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: em(10,16) em(14,16);
    background-color: rgba($color-content-bg, 0.85);

    p {
      margin: 0;

      &.title {
        font-size: em(20,16);
        font-weight: 700;
        line-height: em(25,20);
      }
      &.company {
        font-size: em(18,16);
        font-weight: 300;
      }
      &.text {
        display: none;
      }
    }
  }
  .info {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-left: 18px;
    line-height: 56px;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      vertical-align: top;

      width: (100% / 3);
      float: left;

      &.price {
        font-size: em(22,16);
        font-weight: 700;
      }
      &.old-price {
        vertical-align: bottom;
        font-size: em(14,16);
        font-weight: 700;
        text-decoration: line-through;
      }
      &.buy {
        float: none;

        .btn-buy {
          display: block;
          background-color: $color-btn-bg;
          color: $color-white;

          font-size: em(18,16);
          font-weight: 600;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

@mixin main-deal-desktop($width: auto) {
  @include clearfix;
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;
  margin-bottom: 50px;

  .image-container {
    position: relative;
    float: left;
    width: 60%;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(32,16);
        margin: 0;
        padding: 5px 15px 5px 5px;
      }
    }

  }

  .description {
    position: absolute;
    left: 60%;
    width:40%;
    height: auto;
    top: 0;
    bottom: 40px;
    padding: 10% 2%;
    background-color: $color-content-bg;


    p {
      margin: 0;

      &.title {
        font-size: em(32,16);
      }

      &.company {
        font-size: em(28,16);
        margin-bottom: em(17,16);
      }

      &.text {
        display: block;
        color: $color-deal-info-text;
      }
    }
  }



  .info {
    position: absolute;
    left: 60%;
    width: 40%;
    height: auto;
    top: auto;
    bottom: 0;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: auto;
      float: left;
      text-align: center;

      &.price {
        // font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }

    }

  }

}

@mixin regular-deal($width: auto,$bg-color: $color-webpage-bg) {
  width: $width;
  position: relative;
  height: auto;
  background-color: $bg-color;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      bottom: 45%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: em(18,16);
        margin: 0;
        padding: 5px 15px 5px 5px;
      }
    }

    .description {
      position: absolute;
      width:100%;
      background-color: rgba($color-content-bg,0.75);
      bottom: 0;
      padding: em(10,16);

      p {
        margin: 0;

        &.title {
          font-weight: bold;
          font-size: em(20,16);
        }

        &.company {
          font-size: em(18,16);
        }

        &.text { display: none; }
      }
    }
  }

  .info {
    margin-top: 0;
    width: 100%;
    padding-left: 10px;
    line-height: 50px;
    height: auto;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;


      &.price {
        font-size: em(22,16);
        font-weight: bold;
      }

      &.old-price {
        text-decoration: line-through;
        font-size: em(14,16);
        font-weight: bold;
      }

      &.buy {
        float: none;
        text-align: center;

        .btn-buy {
          color: #fff;
          text-decoration: none;
          background-color: $color-btn-bg;
          display: block;
        }
      }

    }

  }
}


@mixin deal-detail($width: auto) {
  width: $width;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .hot-deal { display: none;}

    .price {
      position: absolute;
      bottom: 40%;
      right:0%;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 5%;
      }
    }
  }

  .description {
    //position: absolute;
    width:100%;
    background-color: $color-content-bg;
    margin-top: 0;

    .company {
      display: none;
    }
    p {
      margin: 0 auto 2% 2%;

      &.title {
        font-weight: bold;
        font-size: 1.2em;
      }

      &.text {
        color: $color-text-title-grey;
      }
    }
  }

  .discount {
    width: 100%;
    height: 60px;

    .percentage {
      background-color: $color-discount-percentage-bg;
      width: 50%;
      height: 100%;
      float:left;

      p {
        font-size: 1.5em;
      }
    }

    .days-left {
      display: inline-block;
      background-color: $color-days-left-bg;
      width: 50%;
      height: 100%;
    }

    p {
      text-align: center;
      color: #fff;
      padding: 10px 0;
      margin: 0;
    }
  }

  .social {
    @include clearfix;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

    div {
      width: (100% / 3);
      height: 100%;
      float: left;
      padding: 5px 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }
    .facebook {
      background-color: $color-facebook-bg;
    }
    .share {
      background-color: $color-content-bg;
    }
    .twitter {
      background-color: $color-twitter-bg;
    }
  }

  .info {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: auto;
      float: left;
      text-align: center;
      padding: 10px 0;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@mixin deal-detail-desktop($width: auto) {
  @include clearfix;
  width: $width;
  position: relative;
  height: auto;
  background-color: $color-content-bg;

  .image-container {
    position: relative;
    float: left;
    width: 60%;

    img {
      width: 100%;
    }

    .hot-deal {
      display: block;
      position:absolute;
      left: 0;
      top: 0;
      background-color: #0ee204;
      width: auto;

      p {
        color: #fff;
        font-size: 1.2em;
        margin: 0;
        padding: 10px 15px;
      }



    }

    .price {
      position: absolute;
      bottom: 86px;
      height: 60px;
      right:0;
      background-color: rgba($color-content-bg,0.75);
      white-space: nowrap;  // todo: find a better way to calc div width
      width: auto;
      overflow: hidden;

      p {
        font-size: 1.5em;
        margin: 0;
        padding: 15px 25px 15px 15px;
      }
    }
  }
  .description {
    position: absolute;
    left: 60%;
    width:40%;
    height: 40px;
    top: 0;
    bottom: 146px;
    padding: 10px;
    background-color: $color-content-bg;
    margin-top: 0;

    .company {
      display: block;
    }

    p {
      margin: 0;
      padding: 5px 5px;

      &.title {
        font-weight: bold;
        font-size: 1.5em;
      }

      &.company {
        color: $color-deal-info-text;
        font-size: 1.2em;
      }
    }
  }
  .discount {
    position: absolute;
    left: 60%;
    bottom: 86px;
    width: 40%;
    height: 60px;

    .percentage {
      background-color: $color-discount-percentage-bg;
      width: 50%;
      height: 100%;
      float:left;
      p {
        font-weight: 1.5em;
      }
    }

    .days-left {
      display: inline-block;
      background-color: $color-days-left-bg;
      width: 50%;
      height: 100%;
    }

    p {
      text-align: center;
      color: #fff;
      padding: 10px 0;
      margin: 0;
    }
  }
  .social {
    position : absolute;
    left: 60%;
    bottom: 40px;
    width: 40%;
    height: 46px;
    margin-bottom: 0px;

    div {
      width: (100% / 3);
      height: 100%;
      float: left;
      padding: 5px 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }
    .facebook {
      background-color: $color-facebook-bg;
    }
    .share {
      background-color: $color-content-bg;
    }
    .twitter {
      background-color: $color-twitter-bg;
    }
  }
  .info {
    position: absolute;
    left: 60%;
    width: 40%;
    height: auto;
    bottom: 0;
    background-color: $color-discount-price-bg;

    div {
      display: inline-block;
      width: (100% / 3);
      height: 40px;
      float: left;
      text-align: center;
      padding: 10px 0;

      &.price {
        //font-size: 2em;
      }

      &.old-price {
        text-decoration: line-through;
      }

      &.buy {
        float: none;
        text-align: center;
        background-color: $color-btn-bg;

        .btn-buy {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@mixin popular-deal($width: auto) {
  width: $width;
  height: auto;

  .image-container {
    position: relative;
    width: 33%;
    height: 125px;
    float: left;
    overflow: hidden;

    @media (max-width: 23em) {
      width: 20%;
    }


    img {
      min-width: 100%;
      max-width: inherit;
      min-height: 100%;
    }
  }

  .details {
    width: 67%;
    float: left;
    
    @media (max-width: 23em) {
      width: 80%;
    }

    .description {
      background-color: $color-content-bg;
      padding: 10px 5px 10px 10px;
      
      .company { 
        font-size: em(18,16);
      }
      
      .title {
        font-size: em(22,16);
        font-weight: 700;
      }

      p {
        margin: 0;
      }
    }

    .info {
      margin-top: 0;
      padding-left: 10px;
      width: 100%;
      line-height: 50px;
      background-color: $color-discount-price-bg;

      div {
        display: inline-block;
        width: (100% / 3);
        height: 45px;
        float: left;

        &.price {
          font-size: em(18,16);
          font-weight: 700;
        }
        &.old-price {
          text-decoration: line-through;
          font-size: em(14,16);
        }
        &.buy {
          float: none;
          text-align: center;

          .btn-buy {
            background-color: $color-btn-bg;
            color: #fff;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
  }
}

@mixin deal-info($width: auto) {
  width: $width;
  background-color: $color-content-bg;
  margin: 0px auto;

  p {
    color: $color-deal-info-text;
    margin: 0;
    padding: 10px 10px;
  }
  .title {
    font-weight: bold;
    font-size: 1.5em;
    color: $color-company-name-text;
  }
  button.collapse {
    display: none;
  }
}
